#
# .gitignore
#

# all part
deploy
deploy_*

# tool
tool/CSPlus_CC_Package_V80900-doc-e*
tool/CC-RH_*.zip
tool/cc-rh_v*_for_linux_amd64-doc.zip
tool/CC-RH
tool/tmp
tool/kitware-archive.sh
tool/ICUMX_Loader*
tool/for_host_pc_setup/can_demo/
# tool: not ignored
!tool/for_host_pc_setup/can_demo/*.sh
!tool/for_host_pc_setup/can_demo/*.json
!tool/for_host_pc_setup/can_demo/*.py

# mcu
mcu/safeg-auto/
mcu/safeg-auto-bench/
mcu/trampoline/
mcu/a-rtegen-*.src.tar.gz

# realtime_cpu
realtime_cpu/zephyrproject
realtime_cpu/zephyr-sdk-*
realtime_cpu/toolchain_linux-*
realtime_cpu/trampoline
realtime_cpu/arm-gnu-toolchain-*

# application_cpu
application_cpu/work
application_cpu/common_data/

