#
# .gitignore
#

# all part
deploy
deploy_*

# tool
tool/CSPlus_CC_Package_V80900-doc-e*
tool/CC-RH_*.zip
tool/tmp
tool/kitware-archive.sh
tool/ICUMX_Loader*


# mcu
mcu/safeg-auto/
mcu/safeg-auto-bench/
mcu/trampoline/

# realtime_cpu
realtime_cpu/zephyrproject
realtime_cpu/zephyr-sdk-*
realtime_cpu/trampoline
realtime_cpu/arm-gnu-toolchain-*

# application_cpu
application_cpu/work
application_cpu/common_data/

