[Unit]
Description=service file for autostart cluster application with chromium
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
Environment=Display=:0
Environment=XDG_RUNTIME_DIR=/run/user/0
EnvironmentFile=/var/autostart-browser.config
ExecStart=chromium --no-sandbox --kiosk --autoplay-policy=no-user-gesture-required --alsa-output-device=${AUDIO_OUT} --url ${APP_URL}:${APP_PORT}?serverAddr=${SERVER_IP}&serverPort=${SERVER_PORT}&${DEBUG}

[Install]
WantedBy=multi-user.target

