[Unit]
Description=Dom0 block device
Requires=domd.service backend-ready@block.service
After=domd.service backend-ready@block.service

[Service]
Type=oneshot
ExecStart=/usr/lib/xen/bin/dom0-add-block-device
ExecStop=/usr/lib/xen/bin/dom0-remove-block-device
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
