[Unit]
Description=service file for autostart chromium
After=network.target

[Service]
Type=simple
RemainAfterExit=yes
Environment=Display=:0
Environment=XDG_RUNTIME_DIR=/run/user/0
EnvironmentFile=/var/autostart-browser.config
ExecStart=chromium --no-sandbox --kiosk --url ${APP_URL}:${APP_PORT}${QUERY}

[Install]
WantedBy=multi-user.target

