[Unit]
Description = VISSR : agt_server
After=local-fs.target network.target
PartOf=vissr.target
ConditionPathExists=/usr/bin

[Service]
ExecStart=/usr/bin/vissr/agt_server/agt_server
WorkingDirectory=/usr/bin/vissr/agt_server
Type=simple
Restart=on-failure
RestartSec=10

[Install]
#WantedBy=multi-user.target

