[Unit]
Description = WAII : vissv2server
After=local-fs.target network.target
PartOf=waii.target
ConditionPathExists=/usr/bin

[Service]
ExecStart=/usr/bin/waii/vissv2server/vissv2server --dbfile=/var/statestorage.db --vssJson=/var/vsspathlist.json
WorkingDirectory=/usr/bin/waii/vissv2server
Type=simple
Restart=on-failure
RestartSec=10

[Install]
#WantedBy=multi-user.target

