[Unit]
Description = Simple Video Streaming Application
After=local-fs.target network.target
ConditionPathExists=/usr/bin

[Service]
Environment=PORT=5999
Environment=CAM_NUM=0
# USB 3.0: about 400Mbps
# Environment=CAM_W=1024
# Environment=CAM_H=576
# USB 2.0: about 300Mbps
Environment=CAM_W=848
Environment=CAM_H=480
Environment=CAM_FPS=30
ExecStartPre=mkdir -p /var/textfile_collector
ExecStart=python3 /usr/bin/simple-video-streaming/server.py
WorkingDirectory=/usr/bin/simple-video-streaming
Type=simple
Restart=on-failure
RestartSec=10
Nice=-10

[Install]
WantedBy=multi-user.target

